@import "inc_colors";

#tooltip {
  display: none;

  background-color: $tooltip-bgcolor;
  color: #000;

  border: 1px solid $tooltip-border;
  border-radius: 0.6em 0.6em 0px 0.6em;
  // box-shadow: 0 0 5px #888;

  font-size: 12px;

  width: 14em;
  padding: 10px;

  z-index: 10000;
}
