@import "inc_colors";

#topbar {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 0 10px 0;
  background-color: $topbar-bgcolor;
  color: white;
  // border-bottom: solid $color-focus 1px;
  padding: 0.4em 0.4em 0 0.4em;
  // padding: 0.4em;
  -moz-box-sizing: border-box;
  -safari-box-sizing: border-box;
  box-sizing: border-box;

  #zaflag {
    float:left;
    display: inline-block;
    margin-right:0.5em;
  }

  .view {
    padding: 0px 0.4em 0px 0.4em;
    // border: 1px solid white;
    margin: 0px 0.4em 0px 0.4em;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        border-bottom: 1px solid;
      }
    }
  }

  .selectedView {
    background-color: white;
    border-radius: 0.4em;
    color: $color-focus;
  }

  .newdropdown {
    padding: 0px 0.4em 0px 0.4em;
    margin: 0px 0.4em 0px 0.4em;
  }
 

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid;
  }

  #name {
    float: left;
    // width: 180px;
  }

  #examples {
    text-align: right;
    float: right;
    width: 180px;
  }

  #views {
    text-align: center;
  }
}

.dropdown {
  z-index: 10000;
  position: absolute;
  display: none;
  background: black;
  border: solid 1px black;
  box-shadow: 0 0 5px #888;

  a {
    padding: 5px 5px 0px 5px;
    color: white;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid black;
    &:hover {
      border-bottom: 1px solid;
    }
  }
}

// This needs to be at the root level for the dropdown to appear
.showdropdown {
  display: block;
}   

#savedpathway_choices {
  width: 200px;
}

